<!-- Insertamos la forma de ios y le quitamos el borde -->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Ignacio's News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-articles [articles]="articles"></app-articles>

  <ion-infinite-scroll threshold="25%"
                       position="bottom"
                       (ionInfinite)="loadData()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>